.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-box {
  background: white;
  padding: 25px;
  border-radius: 10px;
  text-align: center;
  width: 300px;
}

.modal-actions {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
}

.yes-btn {
  background: green;
  color: white;
  padding: 8px 15px;
  border: none;
  cursor: pointer;
}

.no-btn {
  background: red;
  color: white;
  padding: 8px 15px;
  border: none;
  cursor: pointer;
}