.order-page {
  background: #f4f6f9;
  min-height: 100vh;
  font-family: Arial, sans-serif;
}


.order-layout {
  display: flex;
  width: 100%;
  min-height: 100vh;
}


.user-navbar {
  width: 240px;
  flex-shrink: 0;
  background: #fff;
  border-right: 1px solid #eaeaea;
}


.order-main {
  flex: 1;
  padding: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.order-main h2 {
  font-size: 26px;
  font-weight: 700;
  margin-bottom: 20px;
}

.order-content-wrapper {
  width: 100%;
  max-width: 900px;
}

.order-card {
  background: #fff;
  border-radius: 14px;
  padding: 18px;
  margin-bottom: 18px;

  box-shadow: 0 8px 22px rgba(0,0,0,0.08);
  border-left: 5px solid #2563eb;
  transition: 0.2s;
}

.order-card:hover {
  transform: translateY(-2px);
}


.order-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 12px;
}

.order-top h3 {
  font-size: 15px;
  color: #333;
}

.status {
  padding: 5px 12px;
  border-radius: 20px;
  font-size: 12px;
  font-weight: bold;
  background: #e0f2fe;
  color: #0369a1;
}

.order-items {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.order-item {
  display: flex;
  gap: 12px;
  align-items: center;

  background: #f9fafb;
  padding: 10px;
  border-radius: 10px;
}

.order-image {
  width: 65px;
  height: 65px;
  object-fit: cover;
  border-radius: 10px;
  border: 1px solid #eee;
}

.order-item h4 {
  margin: 0;
  font-size: 14px;
}

.order-item p {
  margin: 2px 0;
  font-size: 13px;
  color: #555;
}

.order-total {
  margin-top: 15px;
  text-align: right;
  font-size: 16px;
  font-weight: 700;
  color: #111;
}

.order-content-wrapper p {
  text-align: center;
  color: #777;
  margin-top: 40px;
  font-size: 16px;
}